.admin-container {
  
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61); */
  width: 80%;
  margin: 0 auto;
  min-height: 600px;
  /* margin-top: 10%; */
  /* padding: 60px; */
  text-align: center;
  /* border-radius: 10px; */
}

.admin-container h1 {
  color: #2e7d32;
  /* text-shadow: 1px 1px 1px black; */
  margin-bottom: 30px;
}

/* .survey-body input , button{
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.71);
  font-size: 20px;
  width: 350px;
  padding: 7px;
  margin-top: 15px;
} */


/* .survey-body button{
  width: 365px;
  margin-top: 50px;
  background-color: white;
  color: #19b394;
} */

.survey-body button:hover {
  border: 2px solid #19b394;
}