.sidebarContainer {
    position: fixed;
    margin-top: 20%;
    width: 20%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height: 60px;
    align-items: center;
}

.item {
    border: 1px dashed black;
    background-color: rgb(113, 212, 181);
    padding: 5px;
    margin-bottom: 5px;
}